@media(width: 1200px) {
    header {
        width: 100%;
    }
    main {
        flex-direction: column;
    }
    .st1_logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 100px;
        gap: 20px;
    }
    .st_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
    }
    .st2_box {
        flex-direction: column;
    }
    .st3_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
        gap: 30px;
    }
    .st4 img {
        width: 70%;
    }
    .title {
        font-size: 35px;
    }
}